*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  margin: auto;
  position: relative;
  width: 1000px;
  text-align: center;

}
.box{
  position: relative;
  display: inline-block;
  width: 300px;
  height: 372px;
  margin: 10px;
  cursor: pointer;
}
.box:hover .heart{
  display: block;
}

.discount{
  position: absolute;
  top: 0;
  right: 0;
  background: green;
}
.red{
  background: red;
}

.heart{
  display: none;
  position:absolute;
  bottom: 0;
  left: 150px;
  color: red;
}
