*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  text-align: center;
}
/* imposto i parametri del menu */
.menu{
  position: fixed;
  top: 5px;
  right: 200px;
  z-index: 2;
}
.menu div{
  margin: 10px;
  padding: 10px;
  line-height: 15px;
  background-image: url(../img/padding-rhombus-upholstery-background_1053-241.jpg);
  border-radius: 5px;
  text-align: right;
  display: inline-block;
}
.menu a{
  text-decoration: none;
  color: rgb (38,184,210);
  font-weight: 600;
}
.menu a:visited{
  text-decoration: none;
  color: red;
  font-weight: 600;
}
.menu a:hover{
  text-decoration: none;
  color: #26B8D2;
  font-weight: 600;
}

/* imposto i parametri della vetrina */
.container{
margin: 70px;
}
.box{
  position: relative;
  display: inline-block;
  width: 300px;
  height: 372px;
  margin: 10px;
  cursor: pointer;
}
.box:hover .heart{
  display: block;
}

.etichetta{
  position: absolute;
  top: 0px;
  right: 0px;
  color: green;
  font-size: 50px;
}
.discount{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  color: white;
  font-style: oblique;
  font-weight: bold;
}
.red{
  color: red;
}

.heart{
  position: absolute;
  display: none;
  top: 111px;
  right: 75px;
  color: red;
  font-size: 150px;

}
