*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  text-align: center;

}
/* .menu{
  position: fixed;
  top:0;
  line-height: 50px;
  background: red;

} */
.container{
  margin: auto;
  text-align: center;

}
.box{
  position: relative;
  display: inline-block;
  width: 300px;
  height: 372px;
  margin: 10px;
  cursor: pointer;
}
.box:hover .heart{
  display: block;
}

.etichetta{
  /* display: inline-block; */
  position: absolute;
  top: 0px;
  right: 0px;
  color: green;
  font-size: 50px;
}
.discount{
  /* display: inline-block; */
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  color: white;
  font-style: oblique;
  font-weight: bold;
  /* font-size: 15px; */
}
.red{
  color: red;
}

.heart{
  display: none;
  position:absolute;
  bottom: 0;
  left: 150px;
  color: red;
}
